.vscode/*
CLI/.vscode/*
VP4RT
TestCLI
testclient
proto/*.h
proto/*.cc
bin/*.o
bin/proto/*.o
CLI/bin/*.o
output/*
include/pcheaders.h.gch
Examples/*
demo/merged.p4.p4info.txt
demo/*
testTofino/*
testTofinoTNA/*
src/*.bk
include/*.bk
noms*
NOMSExp/*
ExperimentalTests/*
